body{
	background-image:url(../imagenes/fondos.jpg);
	color:#1B2631;
	font-family:"lucida console", "courier New", monospace;
	font-size:40px;
	}
p{
	text-align:justify;
	font-size:20px;
	}
hr{
	border:3px solid #D35400;
	border-radius:5px;
	width:80%;
}
table,tr,td{
	border:1px solid #932710;
	border-spacing:0px;
	background-color:#E3A28;
	text-align:center;
	font-size:20px
}
ul{
	list-style-type:circle;
	list-style-position:inside;
	font-size:20px;
}
ol{
	list-style-type:upper-roman;
	list-style-position:inside;
	font-size:20px;
}
@font-face{
	font-family:mifuente;
	src:url(../font/Cream Cheese Demo.otf);
}
@font-face{
	font-family:fuente2;
	src:url(../font/Stay and Shine.ttf);
}
@font-face{
	font-family:fuente;
	src:url(../font/StencilStd.otf);
}
.pie{
	font-family:fuente;
	text-align:center;
	font-size:15px;
	font-weight:bold;
}
.encabezado{
	font-family:mifuente;
	text-align:center;
	font-size:30px;
	font-weight:bold;
}
.img-marquee{
	 height:400px;
	 width:600px;
	 border-radius:10%;
}
.img-control{
	 height:50px;
	 width:50px;
}
.img-productos{
	 height:200px;
	 width:200px;
	 border-radius:5%;
}
.img-icons{
	 height:100px;
	 width:100px;
	 border-radius:5%;
}
*{
	margin:0px;
}
div#top{
	font-family:fuente2;
	padding:30px;
	width:100%;
	height:60px;
	/*background-color:#E9967A;*/
	background-image:linear-gradient(#CD5C5C,#FA8072);
	/*background-image:redial-gradient(#F8917B,#EC6A4E);*/
	/*background-image:url(../imagenes/foondo.jpg);*/
	/*background-repeat:no-repeat;*/
}
div#piediv{
	padding:20px;
	width:100%;
	height:80px;
	/*background-color:#E9967A;*/
	background-image:linear-gradient(#CD5C5C,#FA8072);
	/*background-image:redial-gradient(#F8917B,#EC6A4E);*/
	/*background-image:url(../imagenes/foondo.jpg);*/
	/*background-repeat:no-repeat;*/
}
div#cuadro{
	font-family:fuente2;
	padding:4px;
	width:600px;
	background-color:#E9967A;
}
div#principal{
	background-image:url(../imagenes/fondos.jpg);
}
.caja{
	font-family:fuente;
	height:315px;
	width:250px;
	background:#eee;
	border:1px solid #eee;
	margin:5px;
	color:black;
	text-align:center;
	display:inline-block;
}
.caja:hover{
	box-shadow: 0 0 10px red;
	transform:scale(1.3);
}
.caja-texto{
	font-family:fuente2;
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:blue;
	font-weight:bold;
}
.texto-adicional{
	font-family:fuente;
	padding-top:5px;
	font-size:15px;
}
.carrousel{
	width:600px;
	margin:auto;
	/*hc q e paddy pa a fir par to cal a caja y no suma*/
	box-sizing:border-box;
}
.conteCarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}
.itemCarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemCarrouselArrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}
.itemCarrouselArrows> i:hover{
	cursor:pointer;
}
.conteCarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.conteCarrouselicontroller> a{
	text-decoration:none;
	font-size:32px;
	color:grey;
}
.itemCarrouselArrows>a> i{
	color:white;
}
.itemCarrouselTarjeta{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
a:link{
	text-decoration:none;
}